<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Clientes</title>
	<link rel="stylesheet" type="text/css" href="/css/estilo.css">
</head>

<body>
	<div class="margem">
		<div class="cabecalho">
			<h1>Página principal do programa</h1>
		</div>
	</div>
	<div style="text-align: center;">
		<a th:href="@{/listar}">Listar Clientes</a>
	</div>
	<div style="text-align: center;">
		Produtos
	</div>
	<div style="text-align: center;">
		Pedidos
	</div>
</body>

</html>